@{
    ViewBag.Title = "_adminlayout";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Online Class Management System</title>
<meta name="keywords" content="mini social, free download, website templates, CSS, HTML" />
<meta name="description" content="Mini Social is a free website template from templatemo.com" />

<link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    
<link rel="stylesheet" href="~/Content/coda-slider.css" type="text/css" media="screen" charset="utf-8" />

@*<script src="~/script/jquery-1.2.6.js" type="text/javascript"></script>*@
<script src="~/Script/jquery.scrollTo-1.3.3.js" type="text/javascript"></script>
<script src="~/Script/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Script/jquery.serialScroll-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Script/coda-slider.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Script/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/jquery-1.2.6.js"></script>

    <script>
        
        $(document).ready(function () {
            var flag = 0;
            var flag1 = 0;
            var flag2 = 0;
            var flag3 = 0;
            $('#dd').hide();
            $('#d2').hide();
            $('#sublist2').hide();
            $('#sublist3').hide();
            $("#profile").mouseover(function () {
                if (flag == 0) {
                    $('#d2').show();
                    flag = 1;
                }

                else  if (flag == 1) {
                    $('#d2').hide();
                    flag = 0;
                }
            });

            $("#d1").mouseover(function () {
                if (flag1 == 0) {
                    $('#sublist2').show();
                    flag1 = 1;
                }

                else if (flag1 == 1) {
                    $('#d2').hide();
                    flag1 = 0;
                }
            });
             
            $("#cc").mouseover(function () {
                if (flag2 == 0) {
                    $('#sublist2').show();
                    flag2 = 1;
                }

                else if (flag2 == 1) {
                    $('#sublist2').hide();
                    flag2 = 0;
                }
            });
            
            $("#pp").mouseover(function () {
                if (flag2 == 0) {
                    $('#sublist3').show();
                    flag3 = 1;
                }

                else if (flag3 == 1) {
                    $('#sublist3').hide();
                    flag3 = 0;
                }
            });

        });
    </script>

<style type="text/css">
    .buttons { 
  width: 30%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: green; 
  margin:auto;
  
}
.buttons button { 
  width: 100%;
}

    .input {
        margin-left:60px;
       
       
    }
    .textfield {
        background-color:black;
    }
    .cgpa {
        margin-left:350px;
       
        
    }
</style>

</head>

    
<body>

<div id="slider">
	
    <div id="templatemo_sidebar">
    	<div id="templatemo_header">
        	<h1> Online Class Management System </h1>
        </div> <!-- end of header -->
     
     
    <ul class="navigation">
      <div id="menu">   
        
      
          <div id="profile" > 
              
 <li><a href="#profile" id="h1">profile<span class="ui_icon home"></span></a></li>
</div>
        
        <div id="d2">
            <ul id="list1">
                <li><a href="/home/updateprofile">update profile<span class="ui_icon aboutus"></span></a></li>
                                
                <li><a href="/home/addprofile">Add Profile<span class="ui_icon aboutus"></span></a></li>
                <li><a href="/home/deleteprofile">Delete Profile<span class="ui_icon aboutus"></span></a></li>

            </ul>


        </div>
           
          
                <div id="d1">
                   <li id="sub"><a href="#subitem1">Subject<span class="ui_icon aboutus"></span></a></li>
         </div>


               <div id="sublist2">
                                   <ul id="list">
            
                                    <li><a href="/home/addfiles">AddFiles<span class="ui_icon aboutus"></span></a></li>
                                    <li><a href="/home/addhometask">AddHomeTask<span class="ui_icon aboutus"></span></a></li>
                                     <li><a href="/home/addattendance">AddAttendance<span class="ui_icon aboutus"></span></a></li>
                                </ul>
                                   </div>
                                  


                  <li><a href="/home/checkqueries">CheckQueries<span class="ui_icon contactus"></span></a></li>  
                   <li><a href="/home/login">Logout<span class="ui_icon contactus"></span></a></li>
         
                    
       </ul>
    </div> <!-- end of sidebar -->

	<div id="templatemo_main">
    	
        
        <div id="content">
        
        <!-- scroll -->
        
        	
            <div class="scroll">
                <div class="scrollContainer">
                       <div class="panel" id="home">
                
                    @RenderBody()

                </div>
                    <div class="cleaner_h40"></div> 
			</div>
            
        <!-- end of scroll -->
        
        </div> <!-- end of content -->
        
     
    
    </div> <!-- end of main -->
</div>

</body>
</html>
