body {
background: url('images.jpg');

text-allign: center;
font-family:"Verdana";
font: 1000pt;
color:#ea2e67;


}


#main {
width: 1000px;
height: 500px;
background: url('download.jpg') ;
margin: 100px auto;
padding: 10px;
font-family:"Verdana";
font: 300pt;
color: #ea2e67;

}

