@{
    ViewBag.Title = "studindex";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}



                        <h1> Delete Profile </h1> 
                       
                 <form method="post" action="/home/deletestudent" >
                        
                       

                                <div id="search">

                               <label>Search ID<input style="background-color:Black; color:lime" ; type="text" id="search1" name="ID" /></label>
                               <input type="submit" value="SearchID" />
                          </div>
                     </form>

                         
                           
                </div>
                        
                   