<html>
<head>
<title>signup</title>
<script > </script>
<link href="~/Content/styling.css" rel="stylesheet" />
    </head>
<body>
<div id="main">
<p>
    <h1 style="font-size:50px"> <b>Online Class Management System</b></h1>
<h2>Create a Account</h2>
<tr>
	<td>
	First name: <input type="text" name="fname" >
	</td>
	<td>
	Last name: <input type="text" name="lname"   > <br>
	</td>
</tr>
<tr>
	<td colspan="2">
	<br>
	Email :<input type="text" name="email" > <br>
	<br>
	</td>
</tr>
<tr>
	<td colspan="2">
	<br>
	Password: <input type="password" name="password"> <br>
	</td>
</tr>


   <p>
     <select name="month"  >
       <option value="Month:" selected>Month:
       <option value="JAN">JAN
       <option value="FEB">FEB
       <option value="MAR">MAR
       <option value="APR">APR
       <option value="MAY">MAY
       <option value="JUN">JUN
       <option value="JUN">JUL
       <option value="JUN">AUG
       <option value="JUN">SEP
       <option value="JUN">OCT
       <option value="JUN">NOV
       <option value="JUN">DEC
     </select>

	 <select name="day"  >
       <option value="Day:" selected>Day:
       <option value="1">1
       <option value="2">2
       <option value="3">3
       <option value="4">4
       <option value="5">5
       <option value="6">6
       <option value="7">7
       <option value="8">8
       <option value="9">9
       <option value="10">10
       <option value="11">11
       <option value="12">12
       <option value="13">13
       <option value="14">14
       <option value="15">15
       <option value="16">16
       <option value="17">17
       <option value="18">18
       <option value="19">19
       <option value="20">20
       <option value="21">21
       <option value="22">22
       <option value="23">23
       <option value="24">24
       <option value="25">25
       <option value="26">26
       <option value="27">27
       <option value="28">28
       <option value="29">29
       <option value="30">30
     </select>

     <select name="year" >
       <option value="Year:" selected>Year:
       <option value="1996">1996
       <option value="1997">1997
       <option value="1998">1998
       <option value="1999">1999
       <option value="2000">2000
       <option value="2001">2001
       <option value="2002">2002
       <option value="2003">2003
       <option value="2004">2004
       <option value="2005">2005
     </select>

   </p>
     <input type="radio" name ="gender" value="female" >
     female
     <input type="radio" name ="gender" value="male">
     male<br>


	<br> <input type ="submit" name="signup" value="signup">
  	<input type ="reset" name="clear" value="Clear Form">

	
	<br> <br> you have already account : <a href="Login.cshtml">Login</a>

</div>
</body>

</html>