

@{
    ViewBag.Title = "studindex";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

                        <h1> Update Profile </h1> 
                       
                           
                        
                        <div class="input">
                            <br />
                            <br />
                          <label>Name: <input style="background-color:Black; color:lime" ; type="text" id="User" name="Name"   /></label>
                           <label>FatherName: <input style="background-color:Black; color:lime" type="text" id="User1" name="Name"   /></label>
                            <br />
                            <br />
                         
                            <label>Rollno: <input style="background-color:Black; color:lime" type="text" id="User2" name="Name"  /></label>
                         
                            <label>Email: <input style="background-color:Black; color:lime" type="text" id="User3" name="Name"  /></label>

                            <br />
                            <br /> 
                            <label>Degree: <input style="background-color:Black; color:lime" type="text" id="User4" name="Name"   /></label>
                            <br />
                            <br />
                            <label>CGPA: <input style="background-color:Black; color:lime" type="text" id="cgpa" name="Name"  /></label>
                           
                  </div>         

                         
                          