@model IEnumerable<ClassManagement.Models.update>
@{
    ViewBag.Title = "showhometask";
    Layout = "~/Views/Shared/_studlayout.cshtml";
}


 <div id="updatetable" class="input">

     <h1>UserUpdates</h1>
     <br />
     <br />
                            <table border="1" style="width:100%">
                                <tr>
                                    <td> CID</td>
                                    
                                    <td> Coursenamee</td>
                                    <td> userupdates</td>

                                </tr> 

                          @foreach(var v in @Model)
                                {
                                    <tr>
                                        <td>@v.CID</td>
                                        <td>@v.Coursename</td>
                                        <td>@v.userupdates</td>
                                    
                                        </tr>
                                      
                                } 

                            </table>
     </div>